---
import ImageGrid from "../../components/mdx/ImageGrid.astro";
import Base from "../../layouts/Base.astro";

const title = "Photos";
const description = "My Photos";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Photos</h1>
    <ImageGrid
      columns={3}
      images={[
        {
          src: "/photos/ba-dum-tss_53257429428_o.jpg",
          alt: "Ba Dum Tss",
          href: "https://flic.kr/p/2p9bfiS",
        },
        {
          src: "/photos/behind-the-grid_51051803041_o.jpg",
          alt: "Behind the Grid",
          href: "https://flic.kr/p/2kMgQqH",
        },
        {
          src: "/photos/bergama-scenery_53713536361_o.jpg",
          alt: "Bergama Scenery",
          href: "https://flic.kr/p/2pQtV1v",
        },
        {
          src: "/photos/dario-moreno-street_53416696156_o.jpg",
          alt: "Dario Moreno Street",
          href: "https://flic.kr/p/2pofwKW",
        },
        {
          src: "/photos/foal-kitty_53734883926_o.jpg",
          alt: "Foal Kitty",
          href: "https://flic.kr/p/2pSnjTY",
        },
        {
          src: "/photos/iztech-campus_51570618392_o.jpg",
          alt: "IZTECH Campus",
          href: "https://flic.kr/p/2mz7U9Y",
        },
        {
          src: "/photos/kz-kulesi_51358857056_o.jpg",
          alt: "Kız Kulesi",
          href: "https://flic.kr/p/2mfpyTs",
        },
        {
          src: "/photos/modernized-antique-phocaea_53734883891_o.jpg",
          alt: "Modernized Antique Phocaea",
          href: "https://flic.kr/p/2pSnjTn",
        },
        {
          src: "/photos/pergamon_53713534706_o.jpg",
          alt: "Pergamon",
          href: "https://flic.kr/p/2pQtUvY",
        },
        {
          src: "/photos/phokaian-pelican_53735309775_o.jpg",
          alt: "Phokaian Pelican",
          href: "https://flic.kr/p/2pSpvuc",
        },
        {
          src: "/photos/pinhani_53734791771_o.jpg",
          alt: "Pinhani",
          href: "/photos/pinhani_53734791771_o.jpg",
        },
        {
          src: "/photos/red_53256255257_o.jpg",
          alt: "Red",
          href: "https://flic.kr/p/2p95egx",
        },
        {
          src: "/photos/retro_51118326923_o.jpg",
          alt: "Retro",
          href: "https://flic.kr/p/2kT9MEc",
        },
        {
          src: "/photos/stacked-up_53417021739_o.jpg",
          alt: "Stacked Up",
          href: "https://flic.kr/p/2pohcxr",
        },
        {
          src: "/photos/thoughtful_53415776977_o.jpg",
          alt: "Thoughtful",
          href: "https://flic.kr/p/2poaPw2",
        },
        {
          src: "/photos/villager_51051715771_o.jpg",
          alt: "Villager",
          href: "https://flic.kr/p/2kMgou4",
        },
        {
          src: "/photos/sinan-kaynak_53734792691_o.jpg",
          alt: "Sinan Kaynak",
          href: "https://flic.kr/p/2pSmRLX",
        },
        {
          src: "/photos/foggy-and-grainy_51051443682_o.jpg",
          alt: "Foggy and Grainy",
          href: "https://flic.kr/p/2kMeZAS",
        },
        
      ]}
    />

    <p>
      See more on <a
        href="https://www.flickr.com/photos/chillmetin/"><u>Flickr</u></a>
        </p>
  </section>
</Base>
